*{
	margin:0;
	padding:0;
}

body{
	font-family:"Sans-serif	";
}

h1{
	text-align:center;
	font-size:1.6em;
	margin:30px 0;
}

.container{
	display:flex;
	justify-content: center;  /*horizontal center*/
	align-items:center;  /*vertical center */
	height:80%;
}

.slider-wrapper{
	width:600px;
	height:300px;
	overflow:hidden;
}

.inner-wrapper{
	width:500%;
	height:300px;
	position:relative;
	left:-100%;
}

.slide{
	width:calc(100%/5);
	height:100%;
	float:left;
	font-size:100px;
	color:black;
	display:flex;
	justify-content:center;
	align-items:center;
}

.button{
	width:30px;
	height:30px; 
	border-top:2px solid black;
	position:absolute;
	cursor:pointer;
}

.prev{
	border-left: 2px solid black;
	left:10%;
	transform:rotate(-45deg);
}

.next{
	border-left: 2px solid black;
	right:10%;
	transform:rotate(+135deg);
}